.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}
.search-input{
    position: relative;
}
.search-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
}

select{display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sort-row{
    display: flex;
}
.sort-items{
    margin-right: 1rem;
}
.alert-danger {
    color: #252525;
    background-color: #FFF4EA;
}

.alert {
    position: relative;
    padding: .75rem;
    margin-bottom: 3.5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 12px;
    text-align: center;
}
.footer{
    margin-bottom: 1rem;
}
@media (max-width: 1024px){
    .header-wrap {
       flex-direction: column;
       margin: 1rem auto 1rem auto;
    }
    .form-tag{
        margin: 1rem auto;
        width: 100%;
    }
    .sort-row{
        flex-direction: column;
    }
    .sort-items{
        margin-bottom: 1rem;
    }
    .templates {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



